label {
  display: none;
}

#major-nav {
  display: flex;
  justify-content: center;
  align-content: space-between;
  position: sticky;
  top: 0;
  margin: auto 0 40px;
  background: #191a1b;
  border: 2px solid grey;
  border-radius: 2rem;
}

#search,
#custom-text {
  width: 30%;
}

#font-sizes {
  width: 7%;
}

#darkmode-setting {
  margin: 0 4% 0 1%;
}

#darkmode-label {
  display: inline;
  padding: 6px;
  background-color: hotpink;
  border-color: gray;
}

#font-sizes,
#list-mode,
#darkmode-label,
#reset {
  cursor: pointer;
}

#darkmode-checkbox {
  display: none;
}

#list-mode,
#search,
#custom-text,
#font-sizes,
#reset {
  margin: auto;
}
