label {
  display: none;
}

#major-nav {
  display: flex;
  justify-content: center;
  align-content: space-between;
  position: sticky;
  top: 0;
  height: 54px;
  margin: auto 0 40px;
  border-radius: 2rem;
  background-color: #191a1b;
  border: 1px solid #3b3f41;
}

.light #major-nav {
  background-color: white;
  border: 1px solid #dadce0;
}

#major-nav *:focus {
  outline: none;
}

svg#searchIcon {
  margin: auto -16px auto auto;
}

#search,
#custom-text {
  height: 36px;
  width: 30%;
  font-size: 16px;
}

.divider {
  height: 100%;
  display: block;
  border-right: 1px solid #3b3f41;
}

.light .divider {
  border-color: #dadce0;
}

#font-sizes {
  width: 7%;
}

#darkmode-setting {
  margin: auto;
}

#darkmode-label {
  display: inline;
  padding: 6px;
  cursor: pointer;
}

#darkmode-checkbox {
  display: none;
}

#search,
#custom-text,
#font-sizes,
#list-mode,
#reset {
  margin: auto;
  color: #c3bcb2;
  background-color: #191a1b;
  border-color: transparent;
}

.light #search,
.light #custom-text,
.light #font-sizes,
.light #list-mode,
.light #reset {
  color: inherit;
  background-color: transparent;
}

#search::placeholder,
#custom-text::placeholder {
  color: #c3bcb2;
}

.light #search::placeholder,
.light #custom-text::placeholder {
  color: #3c4043;
}
