a {
  color: cornsilk;
  text-decoration: none;
  font-family: bungee;
}

li {
  list-style: none;
}

#header-nav {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #3b3f41;
  margin-bottom: 1rem;
}

#header-nav > div {
  margin: 0 5%;
}

#header-nav > nav {
  margin-left: 5%;
}

#links > li {
  display: inline-block;
  margin: auto 15px;
}

#header-nav > div > h1 {
  margin: 0;
  font-family: bungee;
}

h1 > span {
  font-family: charmonman;
  font-weight: 200;
  padding-right: 5px;
}
