footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 32px;
  text-align: center;
  padding: 0 25px;
  border-top: 1px solid #3b3f41;
  background-color: #1e1e20;
  color: grey;
}

footer > p {
  margin-top: -5px;
}

#portfolio {
  color: cornsilk;
}
