.card {
  display: grid;
  padding: 0.5rem 0.2rem;
  margin: 1.5rem 1rem;
  border-top: 0.08rem solid whitesmoke;
}

.font-name {
  display: inline;
}

.card > i {
  justify-content: right;
}

i.fas {
  color: red;
}