.card {
  display: grid;
  padding: 0.5rem 0.2rem;
  margin: 1.5rem 1rem;
  border-top: 0.08rem solid whitesmoke;
}

.font-name {
  display: inline;
  font-size: 0.9em;
  margin-block-start: 0.25em;
  margin-block-end: 0.5em;
}

.font-author {
  font-size: 0.8rem;
  font-weight: 300;
  margin-block-start: 0.25em;
  margin-block-end: 0.5em;
}

.sample-text {
  font-family: cursive;
}

.card > i {
  justify-content: right;
}

i.fas {
  color: red;
}
