.card {
  display: grid;
  grid-template-rows: 56px auto;
  border: 1px solid #3b3f41;
  border-radius: 8px;
}

.font-info {
  margin: 8px 16px 8px;
}

.font-name {
  display: inline;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.sample-text {
  white-space: pre-line;
  padding: 0 16px;
  margin-bottom: 30px;
}
