@import './assets/fonts.css';

body {
  background-color: rgb(37, 37, 37);
  color: cornsilk;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
