@import url('https://fonts.googleapis.com/css?family=Charmonman|Bungee');

body {
  background-color: #191a1b;
  color: cornsilk;
}

body.light {
  background-color: cornsilk;
  color: #191a1b;
}

main {
  padding: 16px 60px 112px;
  margin-bottom: 50px;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}
