@import url('https://fonts.googleapis.com/css?family=Charmonman|Bungee');

body {
  background-color: #191a1b;
  color: cornsilk;
}

body.light {
  background-color: white;
  color: #191a1b;
}

main {
  padding: 16px 60px 112px;
  margin-bottom: 50px;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

#return-to-the-top {
  display: block;
  position: fixed;
  bottom: 64px;
  right: 40px;
  height: 56px;
  width: 56px;
  z-index: 2;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 1px #7a7373;
  outline: none;
}

#return-to-the-top > * {
  height: 100%;
  width: 100%;
  color: cornsilk;
}

.light #return-to-the-top > * {
  color: #383a3d;
}
